body {
    background-image: linear-gradient(to top, #209cff 100%, #68e0cf 200%);
  }

  .container {
    margin-top: 50px;
  }

  h1, h2 {
    text-align: center;
  }

  .card {
    margin-top: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-check {
    margin-bottom: 10px;
  }

  tr:nth-of-type(odd) { 
background: #eee; 
}

th { 
background: #7cc980; 
color: white; 
font-weight: bold; 
}

td, th { 
padding: 10px; 
border: 1px solid #ccc; 
text-align: left; 
font-size: 18px;
font-weight: bold;
}
.custom-row td {
background-color: #dc5123; /* Or any other background color you prefer */
}
:root {
    --rich-black-fogra-29: hsl(222, 44%, 8%);
    --midnight-green: hsl(186, 100%, 19%);
    --alice-blue: hsl(187, 25%, 94%);
    --white: hsl(0, 0%, 100%);
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li {
    list-style: none;
  }
  
  a,
  img,
  button,
  ion-icon {
    display: block;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  input,
  button {
    background: none;
    border: none;
    font: inherit;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    padding-inline: 16px;
  }
  
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 16px;
    z-index: 4;
    background-color: var(--rich-black-fogra-29);
  }
  
  .navbar-list {
    margin-block-end: 30px;
    border-block-end: 1px solid var(--white);
  }
  
  .navbar-item {
    border-block-start: 1px solid var(--white);
  }
  
  .navbar-link {
    color: var(--white);
    text-transform: uppercase;
    padding: 10px 24px;
  }
  
  .nav-open-btn {
    color: var(--white);
    font-size: 4rem;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
  }
  
  .navbar-top {
    position: relative;
    padding-inline: 10px;
    padding-block: 55px 100px;
  }
  
  .nav-close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    color: var(--white);
    font-size: 2.8rem;
  }
  
  .navbar-item.dropdown {
    position: relative;
  }
  
  .navbar-item.dropdown a.dropbtn {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  .navbar-item.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 0;
    list-style: none;
    z-index: 1000;
  }
  
  .navbar-item.dropdown .dropdown-item {
    padding: 6px 20px;
  }
  
  .navbar-item.dropdown .dropdown-item a {
    color: #2c3e50;
    text-decoration: none;
    display: block;
    font-size: 14px;
  }
  
  .navbar-item.dropdown .dropdown-item a:hover {
    background-color: hsl(186, 100%, 19%);
    color: #fff;
  }
  
  .navbar-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  