body {
  background: url('../images/footer-bg.png') no-repeat center center fixed;
  background-size: cover;
  background-color: #005761;
  color: #005761;
  }

  .container {
    margin-top: 50px;
  }

  h1, h2 {
    text-align: center;
  }

  .card {
    margin-top: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-check {
    margin-bottom: 10px;
  }

  tr:nth-of-type(odd) { 
background: #eee; 
}

th { 
background: #7cc980; 
color: white; 
font-weight: bold; 
}

td, th { 
padding: 10px; 
border: 1px solid #ccc; 
text-align: left; 
font-size: 18px;
font-weight: bold;
}
.custom-row td {
background-color: #dc5123; /* Or any other background color you prefer */
}
