.mainform {
    margin: 50px 230px 50px 230px;
    padding: 2rem;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 15px;
    box-shadow: 10px 7px 0 rgb(224, 224, 224);
    background-color: white;
    display: flex;
}

.header {
    font-size: 17px;
    font-family: candara;
    display: flex-end;
}

.btn-outline-primary {
    color: #005761;
    /* Main color */
    border-color: #005761;
    /* Main color */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-outline-primary:hover {
    background-color: #005761;
    /* Main color */
    color: white;
    border-color: #00424a;
    /* Darker shade for hover */
}

.btn-outline-primary:focus,
.btn-outline-primary:active {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 87, 97, 0.5);
    /* Main color with transparency */
    background-color: #00424a;
    /* Darker shade for active */
    color: white;
    border-color: #003238;
    /* Darkest shade for active */
}



input[type=text],
select,
textarea {
    display: flex;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

@media screen and (max-width: 680px) {

    .header,
    .mainform,
    input[type=submit] {
        margin: 0px 0px 0px 0px;

    }
}