<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medico</title>
  <meta name="title" content="Medico">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/medico.png') }}" type="image/svg+xml">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="preload" as="image" href="{{ url_for('static', filename='images/hero-banner.png') }}">
  <link rel="preload" as="image" href="{{ url_for('static', filename='images/hero-bg.png') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body id="top">
  <div class="preloader" data-preloader>
    <div class="circle"></div>
  </div>
  <header class="header" data-header>
    <div class="container containhead" id="containhead">
      <a href="#" class="logo">
        <img src="{{ url_for('static', filename='images/Medico logo.png') }}" width="136" height="46" style="height: auto;" alt="Medico home">
      </a>
      <nav class="navbar" data-navbar>
        <div class="navbar-top">
          <a href="#" class="logo">
            <img src="{{ url_for('static', filename='images/Medico logo.png') }}" width="136" height="46" style="height: auto;" alt="Medico home">
          </a>
          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>
        <ul class="navbar-list">
          <li class="navbar-item">
            <a href="{{url_for('home_page')}}" style="display:block;" class="navbar-link title-md">Home</a>
          </li>
          <li class="navbar-item">
            <a href="#about" style="display:block;" class="navbar-link title-md">About</a>
          </li>
          <li class="navbar-item dropdown">
            <a href="#services" style="display:block;" class="dropbtn">Services</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="{{ url_for('aptcheck_page') }}">Appointments</a></li>
              <li class="dropdown-item"><a href="#scheduler">Scheduler</a></li>
              <li class="dropdown-item"><a href="{{ url_for('bmi_page') }}">BMI</a></li>
              <li class="dropdown-item"><a href="#dietary">Dietometer</a></li>
              {% if current_user.is_authenticated and current_user.role == 'medical_staff'%}
              <li class="dropdown-item"><a href="#">Medical Records</a></li>
              <li class="dropdown-item"><a href="#dietary">Pill store</a></li>
              {% endif %}
              <li class="dropdown-item"><a href="{{ url_for('complaint_page') }}">Complaint</a></li>
            </ul>
          </li>
          <li class="navbar-item">
            <a href="#footer" style="display:block;" class="navbar-link title-md">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler></button>
      {% if current_user.is_authenticated %}
       <a href="{{ url_for('logout_page') }}" style="text-decoration: none;" class="btn has-before title-md">Logout</a>
      {% else %}
      <a href="{{ url_for('login_page') }}" style="text-decoration: none;" class="btn has-before title-md">Log In</a>
      <a href="{{ url_for('signup_page') }}" style="text-decoration: none;" class="btn has-before title-md">Sign Up</a>
      {% endif %}
      <div class="overlay" data-nav-toggler data-overlay></div>
    </div>
  </header>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashes">
            {% for category, message in messages %}
                <div class="flash flash-{{ category }}">
                    <button type="button" class="closee" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
  {% endwith %}
  <main>
    <article>
      <section class="section hero tochange" id="tochange" aria-label="home">
        <div class="container">
          <div class="hero-content">
            <p class="hero-subtitle has-before" data-reveal="left">Welcome To Medico</p>
            <h1 class="headline-lg hero-title" data-reveal="left">
              Your Health, <br>
              Our Mission!
            </h1>
          </div>
          <figure class="hero-banner" data-reveal="right">
            <img src="{{ url_for('static', filename='images/hero-banner.jpeg') }}" width="590" height="517" loading="eager" style="height: auto;" alt="hero banner" class="w-100">
          </figure>
        </div>
      </section>
      <section id="about" class="section about" aria-labelledby="about-label">
        <div class="video-container">
          <video autoplay muted loop id="myVideo">
            <source src="{{ url_for('static', filename='images/health.mp4') }}" type="video/mp4">
          </video>
        </div>
        <div class="container">
          <div class="about-content">
            <h1></h1>
            <h1></h1>
            <h2 class="headline-md" data-reveal="left">Welcome to the Health Centre <br> at ABV-IIITM Gwalior</h2>
            <p class="section-text" data-reveal="left">
              The Health Centre is committed to promoting the health and wellness of the campus community by providing prevention,
              education, and treatment services. <br>
              Health Centre is located in A block of ABV-IIITM Gwalior.
            </p>
            <ul class="tab-list" data-reveal="left">
              <li><button class="tab-btn active">Vision</button></li>
              <li><button class="tab-btn">Mission</button></li>
              <li><button class="tab-btn">Strategy</button></li>
            </ul>
            <div class="wrapper">
              <ul class="about-list">
                <li class="about-item" data-reveal="left">
                  <span class="span"><strong>Promote Health:</strong> Encourage a healthy lifestyle through various wellness programs.</span>
                </li>
                <li class="about-item" data-reveal="left">
                  <span class="span"><strong>Prevent Illness:</strong> Provide preventive care and health education to reduce the risk of illnesses.</span>
                </li>
                <li class="about-item" data-reveal="left">
                  <span class="span"><strong>Treat Patients:</strong> Offer quality medical treatment and support to those in need.</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <footer id="footer" class="footer">
        <div class="container" style="width: 100%; text-align: center;">
          <div class="section footer-top" style="width: 100%; display: flex; justify-content: center;">
            <div class="footer-brand" data-reveal="bottom" style="text-align: center;">
              <a href="#" class="logo">
                <img src="{{ url_for('static', filename='images/Medico logo.png') }}" width="136" height="46" loading="lazy" style="height: auto;" alt="Medico home">
              </a>
              <ul class="contact-list has-after">
                <li class="contact-item">
                  <div class="item-icon"></div>
                  <div>
                    <p>Main Email : <a href="mailto:medico@gmail.com" class="contact-link">medico@gmail.com</a></p>
                    <p>Inquiries : <a href="mailto:Info@mail.com" class="contact-link">medico@gmail.com</a></p>
                  </div>
                </li>
                <li class="contact-item">
                  <div>
                    <p>Office Telephone : <a href="tel:9573785449" class="contact-link">9573785449</a></p>
                    <p>Mobile : <a href="tel:9676293647" class="contact-link">9676234876</a></p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer-bottom" style="display: flex; justify-content: center; align-items: center; width: 100%;">
            <p class="text copyright">&copy; Medico 2024 | All Rights Reserved by ABV-IIITM</p>
          </div>
        </div>
      </footer>
    </article>
  </main>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
  <div class="chat-bar-open" id="chat-open">
    <button id="chat-open-button" type="button" class="collapsible close" onclick="chatOpen()">
        <img src="{{ url_for('static', filename='images/Sparrow Bird.png') }}" alt="Sparrow Bird image" />
    </button>
</div>
<div class="chat-bar-close" id="chat-close">
    <button id="chat-close-button" type="button" class="collapsible close" onclick="chatClose()">
        <i class="material-icons-outlined"> close </i>
    </button>
</div>
<div class="chat-window" id="chat-window1">
    <div class="hi-there">
        <p class="p1">Hi There</p>
        <p class="p2">Hello Ask Us Anything, Share Your Feedback.</p>
    </div>
    <div class="start-conversation">
        <h1>Start a Conversation</h1>
        <p>The team typically replies in a few minutes.</p>
        <button class="new-conversation" type="button" onclick="openConversation()">
            <span>New Conversation</span>
            <i class="material-icons-outlined"> send </i>
        </button>
    </div>
</div>
<div class="chat-window2" id="chat-window2">
    <div class="message-box" id="messageBox">
        <div class="hi-there">
            <p class="p2">Medico Bot</p>
        </div>
    </div>
    <div class="input-box">
        <div class="surveysparrow">
            <img src="{{ url_for('static', filename='images/sparrow favicon.png') }}" />
            <p>MedicoHealthCare</p>
        </div>
        <div class="write-reply">
            <input class="inputText" type="text" id="textInput" placeholder="Write a reply..." />
        </div>
        <div class="send-button">
            <button type="submit" class="send-message" id="send" onclick="userResponse()">
                <i class="material-icons-outlined"> send </i>
            </button>
        </div>
    </div>
</div>
  <!-- Scripts -->
  <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@ionic/core@latest/dist/ionic/ionic.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Get all close buttons
      var closeButtons = document.querySelectorAll('.flash .closee');

      // Add click event listener to each close button
      closeButtons.forEach(function(button) {
        button.addEventListener('click', function() {
          // Find the flash message element
          var flashMessage = button.closest('.flash');

          // Remove the flash message element
          if (flashMessage) {
            flashMessage.style.display = 'none';
          }
        });
      });
    });
  </script>
</body>
</html>
