<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Medico</title>
  <meta name="title" content="Medico">
  
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/medico.png') }}" type="image/svg+xml">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <link rel="preload" as="image" href="{{ url_for('static', filename='images/hero-banner.png') }}">
  <link rel="preload" as="image" href="{{ url_for('static', filename='images/hero-bg.png') }}">
</head>

<body id="top">
  

  <div class="preloader" data-preloader>
    <div class="circle"></div>
  </div>

  <header class="header" data-header>
    <div class="container containhead" id="containhead">

      <a href="#" class="logo">
        <img src="{{ url_for('static', filename='images/Medico logo.png') }}" width="136" height="46" alt="Medico home">
      </a>

      <nav class="navbar" data-navbar>
        <div class="navbar-top">
          <a href="#" class="logo">
            <img src="{{ url_for('static', filename='images/Medico logo.png') }}" width="136" height="46" alt="Medico home">
          </a>

          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>

        <ul class="navbar-list">
          <li class="navbar-item">
            <a href="{{url_for('home_page')}}" class="navbar-link title-md">Home</a>
          </li>
          <li class="navbar-item">
            <a href="#about" class="navbar-link title-md">About</a>
          </li>
          <li class="navbar-item dropdown">
            <a href="#services" class="dropbtn">Services</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="{{ url_for('appointment_page') }}">Appointments</a></li>
              <li class="dropdown-item"><a href="#scheduler">Scheduler</a></li>
              <li class="dropdown-item"><a href="{{ url_for('bmi_page') }}">BMI Calculator</a></li>
              <li class="dropdown-item"><a href="#dietary">Dietary Services</a></li>
              <li class="dropdown-item"><a href="#gynecology">Gynecology Services</a></li>
              <li class="dropdown-item"><a href="#complaint">Complaint Services</a></li>
            </ul>
          </li>
          <li class="navbar-item">
            <a href="#footer" class="navbar-link title-md">Contact</a>
          </li>

        </ul>
      </nav>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        
      </button>

      {% if current_user.is_authenticated %}
       <a href="{{ url_for('logout_page') }}" class="btn has-before title-md">Logout</a>
      {% else %}

      <a href="{{ url_for('login_page') }}" class="btn has-before title-md">Log In</a>
      <a href="{{ url_for('signup_page') }}" class="btn has-before title-md">Sign Up</a>
      {% endif %}

      <div class="overlay" data-nav-toggler data-overlay></div>
    </div>


  </header>
  {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flashes">
                {% for category, message in messages %}
                    <div class="flash flash-{{ category }}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

  <main>
    <article>
      <section class="section hero tochange" id="tochange"  aria-label="home">
        <div class="container">
          <div class="hero-content">
            <p class="hero-subtitle has-before" data-reveal="left">Welcome To Medico</p>
            <h1 class="headline-lg hero-title" data-reveal="left">
              Your Health, <br>
              Our Mission!
            </h1>
          </div>

          <figure class="hero-banner" data-reveal="right">
            <img src="{{ url_for('static', filename='images/hero-banner.jpeg') }}" width="590" height="517" loading="eager" alt="hero banner" class="w-100">
          </figure>
        </div>
      </section>
      <section id= "about" class="section about" aria-labelledby="about-label">
        
        <div class="video-container">
          <video autoplay muted loop id="myVideo">
            <source src="{{ url_for('static', filename='images/health.mp4') }}" type="video/mp4">
          </video>
        </div>
        <div class="container">
    
        <div class="about-content">
    
        <h1></h1>
        <h1></h1>
          <h2 class="headline-md" data-reveal="left">Welcome to the Health Centre <br> at ABV-IIITM Gwalior</h2>
          <p class="section-text" data-reveal="left">
            The Health Centre is committed to promoting the health and wellness of the campus community by providing prevention,
            education, and treatment services. <br>
            Health Centre is located in A block of ABV-IIITM Gwalior.
          </p>
    
          
        

          <ul class="tab-list" data-reveal="left">
    
            <li>
              <button class="tab-btn active">Vision</button>
            </li>
    
            <li>
              <button class="tab-btn">Mission</button>
            </li>
    
            <li>
              <button class="tab-btn">Strategy</button>
            </li>
    
          </ul>
    
    
          <div class="wrapper">
    
            <ul class="about-list">
    
              <li class="about-item" data-reveal="left">
    
                <span class="span"><strong>Promote Health:</strong> Encourage a healthy lifestyle through various wellness programs.</span>
              </li>
    
              <li class="about-item" data-reveal="left">
    
                <span class="span"><strong>Prevent Illness:</strong> Provide preventive care and health education to reduce the risk of illnesses.</span>
              </li>
    
              <li class="about-item" data-reveal="left">
    
                <span class="span"><strong>Treat Patients:</strong> Offer quality medical treatment and support to those in need.</span>
              </li>
    
            </ul>
    
          </div>
    
        </div>
        </div>
    
        
    
      </div>
    </section>
      <footer id="footer" class="footer">
        <div class="container" style="width: 100%; text-align: center;">
          <div class="section footer-top" style="width: 100%; display: flex; justify-content: center;">
            <div class="footer-brand" data-reveal="bottom" style="text-align: center;">
              <a href="#" class="logo">
                <img src="{{ url_for('static', filename='images/Medico logo.png') }}" width="136" height="46" loading="lazy" alt="Medico home">
              </a>
              <ul class="contact-list has-after">
                <li class="contact-item">
                  <div class="item-icon"></div>
                  <div>
                    <p>Main Email : <a href="mailto:medico@gmail.com" class="contact-link">medico@gmail.com</a></p>
                    <p>Inquiries : <a href="mailto:Info@mail.com" class="contact-link">medico@gmail.com</a></p>
                  </div>
                </li>
                <li class="contact-item">
                  <div>
                    <p>Office Telephone : <a href="tel:9573785449" class="contact-link">9573785449</a></p>
                    <p>Mobile : <a href="tel:9676293647" class="contact-link">9676234876</a></p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer-bottom" style="display: flex; justify-content: center; align-items: center; width: 100%;">
            <p class="text copyright">&copy; Medico 2024 | All Rights Reserved by ABV-IIITM</p>
          </div>
        </div>
      </footer>

   

      <script>
        window.addEventListener("load", function() {
   
    document.getElementById("tochange").focus();
});
    </script>
      <script src="{{ url_for('static', filename='js/script.js') }}">
      </script>
      
    
    
</body>

</html>

