<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pill Maintenance</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/medico.png') }}" type="image/svg+xml">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pillmaintain.css') }}">
    <style>
        .task-form {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        header {
            width: 100%;
            background-color: #008080;
            text-align: center;
            padding: 1rem 0;
            color: white;
        }
    </style>
</head>

<body>
    <header>
        <h1>Pill Maintenance</h1>
    </header>
    <main>
        <div class="task-form" style="flex-wrap: wrap; margin-top: 3%;">
            <div class="formbold-mb-5">
                <div>
                    <label for="pills" class="formbold-form-label">Pills</label>
                    <input type="text" name="pills" id="pills" class="formbold-form-input" />
                </div>
            </div>
            <div class="input-box">
                <label for="category" class="formbold-form-label"> Category</label>
                <div class="role-dropdown">
                    <select name="category" id="category" required class="formbold-form-input">
                        <option value="" disabled selected placeholder="Category of Medicine">Category of Medicine
                        </option>
                        <option value="Pain Relievers">Pain Relievers</option>
                        <option value="Antibiotics">Antibiotics</option>
                        <option value="Antipyretics">Antipyretics</option>
                        <option value="Antihistamines">Antihistamines</option>
                        <option value="Antacids">Antacids</option>
                    </select>
                </div>
            </div>
            <div class="formbold-mb-5">
                <div>
                    <label for="quantity" class="formbold-form-label">Quantity</label>
                    <input type="text" name="quantity" id="quantity" class="formbold-form-input" />
                </div>
            </div>
            <div class="formbold-mb-5">
                <label for="expiry-date" class="formbold-form-label"> Expiry Date </label>
                <input type="date" name="expiry-date" id="expiry-date" class="formbold-form-input" />
            </div>
            <div class="modify-button" style="margin-top: 2%; flex: 0 0 auto;">
                <button class="button" style="margin-top: 3%;">
                    Add Record
                </button>
            </div>
        </div>
        <header style="margin-top: 4%;">
            <h1>Pill Records</h1>
        </header>
        <div class="task-form" style="flex-wrap: wrap; margin-right: 50%;">
            <div class="task-form">
                <button id="add-task" style="height: 40px; width: 80px; margin-top: 11%;">Filter By</button>
                <div class="formbold-mb-5">
                    <div>
                        <label for="filter-pills" class="formbold-form-label" style="margin-top: 14%;">Pills</label>
                        <input type="text" name="filter-pills" id="filter-pills" class="formbold-form-input" />
                    </div>
                </div>
                <div class="input-box">
                    <label for="filter-category" class="formbold-form-label" style="margin-top: 16%;"> Category</label>
                    <div class="role-dropdown">
                        <select name="filter-category" id="filter-category" required class="formbold-form-input">
                            <option value="" disabled selected placeholder="Category of Medicine">Category of Medicine
                            </option>
                            <option value="Pain Relievers">Pain Relievers</option>
                            <option value="Antibiotics">Antibiotics</option>
                            <option value="Antipyretics">Antipyretics</option>
                            <option value="Antihistamines">Antihistamines</option>
                            <option value="Antacids">Antacids</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>