<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scheduler.css') }}">
    <title>Doctor Scheduler</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/medico.png') }}" type="image/svg+xml">
</head>

<body>
    <header>
        <h1>Task Scheduler</h1>
    </header>
    <main>
        <div class="task-form" style="flex-wrap: wrap;">
            <div class="formbold-mb-5">
                <label for="doctor" class="formbold-form-label"> Doctor </label>
                <label name="doctor" id="doctor" class="formbold-form-input">
                    <option value="Dr. J. C. Sharma">Dr.J.C.Sharma - General Physician</option>
                </label>
            </div>
            <div class="formbold-mb-5">
                <label for="time1" class="formbold-form-label"> From </label>
                <input type="time" name="time1" id="time1" class="formbold-form-input" />
            </div>
            <div class="formbold-mb-5">
                <label for="time2" class="formbold-form-label"> To </label>
                <input type="time" name="time2" id="time2" class="formbold-form-input" />
            </div>
            <div class="formbold-mb-5">
                <label for="date" class="formbold-form-label"> Date </label>
                <input type="date" name="date" id="date" class="formbold-form-input" />
            </div>
            <div class="modify-button" style="margin-top: 3%; flex: 0 0 auto; flex: 0 0 auto;">
                <button class="button" style="margin-top: 3%;">
                    Modify
                </button>
            </div>
        </div>

        <div class="task-form" style="flex-wrap: wrap;">
            <div class="formbold-mb-5">
                <label for="doctor" class="formbold-form-label"> Doctor </label>
                <label name="doctor" id="doctor" class="formbold-form-input">
                    <option value="Dr. J. C. Sharma">Dr.Rajeev Kumar - General Physician</option>
                </label>
            </div>
            <div class="formbold-mb-5">
                <label for="time1" class="formbold-form-label"> From </label>
                <input type="time" name="time1" id="time1" class="formbold-form-input" />
            </div>
            <div class="formbold-mb-5">
                <label for="time2" class="formbold-form-label"> To </label>
                <input type="time" name="time2" id="time2" class="formbold-form-input" />
            </div>
            <div class="formbold-mb-5">
                <label for="date" class="formbold-form-label"> Date </label>
                <input type="date" name="date" id="date" class="formbold-form-input" />
            </div>
            <div class="modify-button" style="margin-top: 3%; flex: 0 0 auto;">
            <button class="button" style="margin-top: 3%;">
                Modify
            </button>
            </div>
        </div>

        <div class="task-form" style="flex-wrap: wrap;">
            <div class="formbold-mb-5">
                <label for="doctor" class="formbold-form-label"> Doctor </label>
                <label name="doctor" id="doctor" class="formbold-form-input">
                    <option value="Dr. J. C. Sharma">Dr. Neeraj Kumar - Homeopathic       </option>
                </label>
            </div>
            <div class="formbold-mb-5">
                <label for="time1" class="formbold-form-label"> From </label>
                <input type="time" name="time1" id="time1" class="formbold-form-input" />
            </div>
            <div class="formbold-mb-5">
                <label for="time2" class="formbold-form-label"> To </label>
                <input type="time" name="time2" id="time2" class="formbold-form-input" />
            </div>
            <div class="formbold-mb-5">
                <label for="date" class="formbold-form-label"> Date </label>
                <input type="date" name="date" id="date" class="formbold-form-input" />
            </div>
            <div div class="modify-button" style="margin-top: 3%; flex: 0 0 auto;" flex: 0 0 auto;">
                <button class="button" style="margin-top: 3%;">
                    Modify
                </button>
            </div>
        </div>

        <div class="task-form" style="flex-wrap: wrap;">
            <div class="formbold-mb-5">
                <label for="doctor" class="formbold-form-label"> Doctor </label>
                <label name="doctor" id="doctor" class="formbold-form-input">
                    <option value="Dr. J. C. Sharma">Dr.Namita Agarwal - Gynecologist</option>
                </label>
            </div>
            <div class="formbold-mb-5">
                <label for="time1" class="formbold-form-label"> From </label>
                <input type="time" name="time1" id="time1" class="formbold-form-input" />
            </div>
            <div class="formbold-mb-5">
                <label for="time2" class="formbold-form-label"> To </label>
                <input type="time" name="time2" id="time2" class="formbold-form-input" />
            </div>
            <div class="formbold-mb-5">
                <label for="date" class="formbold-form-label"> Date </label>
                <input type="date" name="date" id="date" class="formbold-form-input" />
            </div>
            <div class="modify-button" style="margin-top: 3%; flex: 0 0 auto;">
                <button class="button" style="margin-top: 3%;">
                    Modify
                </button>
            </div>
        </div>

        <div class="task-form" style="flex-wrap: wrap;">
            <div class="formbold-mb-5">
                <label for="doctor" class="formbold-form-label"> Doctor </label>
                <label name="doctor" id="doctor" class="formbold-form-input">
                    <option value="Dr. J. C. Sharma">Dr.Manoj Rathore - Physiotherapist</option>
                </label>
            </div>
            <div class="formbold-mb-5">
                <label for="time1" class="formbold-form-label"> From </label>
                <input type="time" name="time1" id="time1" class="formbold-form-input" />
            </div>
            <div class="formbold-mb-5">
                <label for="time2" class="formbold-form-label"> To </label>
                <input type="time" name="time2" id="time2" class="formbold-form-input" />
            </div>
            <div class="formbold-mb-5">
                <label for="date" class="formbold-form-label"> Date </label>
                <input type="date" name="date" id="date" class="formbold-form-input" />
            </div>
            <div class="modify-button" style="margin-top: 3%; flex: 0 0 auto;" >
                <button class="button">
                    Modify
                </button>
            </div>
        </div>
    </main>
</body>

</html>